In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

C:\Users\dhruv\AppData\Local\Temp\ipykernel_10804\167618324.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = sns.load_dataset("mpg")
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [3]:
dataset = df.values.tolist()
rows=len(dataset) 
columns=len(dataset [0])-1

print("\nThe initial value of hypothesis: ") 

# Initialize the hypothesis
hypothesis = ['phi']* columns
print(hypothesis)


# training with the first instance
for i in range(0,columns): 
    hypothesis[i] = dataset [0][i]

# training the dataset 
for i in range(0,rows):
    if dataset[i] [columns]=='Yes':
        for j in range(0,columns): 
            if dataset[i][j]!=hypothesis[j]: 
                hypothesis[j]='?'
            else:
                hypothesis[j]= dataset[i][j]

print("\nAfter {0} iteration, the hypothesis is :".format(i), hypothesis)
print("\nHypothesis after training :") 
print(hypothesis)

The initial value of hypothesis:
['phi', 'phi', 'phi', 'phi', 'phi', 'phi', 'phi', 'phi']

After 397 iteration, the hypothesis is : [18.0, 8, 307.0, 130.0, 3504, 12.0, 70, 'usa']

Hypothesis after training :
[18.0, 8, 307.0, 130.0, 3504, 12.0, 70, 'usa']